.image{
    height:286px;
    width:286px;
    border-radius: 8px;
    margin: 7px;
}
.product-container{
    height:510px;
    width:300px;  
    border: 1px solid #95A0A7;
    border-radius: 8px;
    position: relative;
}
.product-info{
    margin-left:14px;
    margin-right: 14px;
    margin-top: -9px;
}
.product-info p{
    margin-top:5px;
    margin-bottom: 5px;
}
.p-text{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    
}

.btn-cart{
   
    width: 100%;
    background: #FFE0B3;
    border: none;
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-cart:hover{
    background-color: orange;
}

.btn-text{
    margin-right:10px;
}